In [1]:
import numpy as np
import pandas as pd
a = pd.read_excel("newdatajan2022.xls", usecols=np.r_[3,8,12,14,15,20,23,24,27,32,41,43,44,46,48,49,66])

In [2]:
a

,V4- Age 1-18-24 yr 2- 25-30 yrs 3- 31-35yrs 4-> 35 yrs,V2 - Time of diag 1- DURING PRESENT PREG 2- BEFORE PRESENT PREG,"V2 -NYHA CLASS III, IV- 1 I, II- 2",V2- ACQ-1 CONG-2,V2 - PROSTHETIC VALVE 1-YES 2-NO,"V2- mWHO >II- 1 I,II 2",V2 - LVEF <55 1-YES 2-NO,V2- LVEF ≤45 1-YES 2-NO,"V2 - PHT TRPG>40,RVSP>45 1-YES 2-NO",V2- MVOA ≤ 1.5 1-YES 2-NO,2V -ISOLATED VALVULAR AR/MR,V2- ISOLATED SIGNIFICANT AS 1-YES 2-NO,V2 - ISOLATED LVOTO SEVERITY 1- YES 2-NO,V2 -SIGNIFICANT LVOTO/RVOTO 1-YES 2-NO,V2 -PRIMI 1-YES 2- NO,V2 -NULLIPARA 1-YES 2-NO,V2- AFE -1 No AFE -2
0,1,1,2,2,2,1,2,2,2,2,2,2,2,2,2,1,1
1,2,2,2,2,2,1,2,2,2,2,2,2,2,2,1,1,2
2,2,2,2,1,2,1,2,2,2,2,2,2,2,2,2,2,2
3,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,1
4,1,2,2,2,2,2,2,2,2,2,2,2,2,2,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1024,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,1,2
1025,1,2,1,1,1,1,2,2,2,2,2,2,2,2,1,1,1
1026,2,1,1,1,2,1,1,1,1,2,2,2,2,2,2,2,2
1027,1,1,1,1,2,1,1,1,2,2,2,2,2,2,2,2,2
1028,1,1,1,1,2,1,1,1,2,2,2,2,2,2,1,1,2

In [3]:
a.columns

Index(['V4-   Age                           1-18-24 yr               2- 25-30 yrs            3- 31-35yrs             4-> 35 yrs',
       ' V2 - Time of diag                        1- DURING PRESENT  PREG   2- BEFORE PRESENT PREG',
       'V2 -NYHA CLASS        III, IV- 1                    I, II- 2',
       'V2- ACQ-1                                    CONG-2      ',
       'V2 - PROSTHETIC VALVE                     1-YES                      2-NO',
       'V2- mWHO         >II-  1                    I,II    2',
       'V2 - LVEF <55          1-YES                 2-NO',
       'V2- LVEF ≤45       1-YES             2-NO',
       'V2 - PHT        TRPG>40,RVSP>45                          1-YES                       2-NO',
       'V2- MVOA ≤ 1.5           1-YES                       2-NO',
       '2V -ISOLATED  VALVULAR   AR/MR',
       'V2- ISOLATED SIGNIFICANT AS                       1-YES                 2-NO',
       'V2 - ISOLATED LVOTO SEVERITY                 1- YES                         2-NO',
       'V2 -SIGNIFICANT LVOTO/RVOTO             1-YES                           2-NO',
       'V2 -PRIMI          1-YES                   2- NO',
       'V2 -NULLIPARA                           1-YES                          2-NO',
       'V2-  AFE -1                   No AFE -2'],
      dtype='object')

In [17]:
X = a.drop('V2-  AFE -1                   No AFE -2',axis=1)
y = a['V2-  AFE -1                   No AFE -2']

In [18]:
import sklearn as sk
#from sklearn.datasets import make_classification
from sklearn.ensemble import AdaBoostClassifier
#from imblearn.over_sampling import RandomOverSampler

In [20]:
#from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
X_train, X_test, y_train, y_test = sk.model_selection.train_test_split(X, y, test_size=0.2, random_state=4, stratify = y)

model_ad = AdaBoostClassifier()
model_ad.fit(X_train , y_train)
y_pred = model_ad.predict(X_test)

print(classification_report(y_test, y_pred))
print(accuracy_score(y_test,y_pred))
#matrix = 
print(confusion_matrix(y_test,y_pred))

#print('Confusion matrix : \n',matrix)

              precision    recall  f1-score   support

           1       0.54      0.20      0.29        69
           2       0.69      0.91      0.79       137

    accuracy                           0.67       206
   macro avg       0.62      0.56      0.54       206
weighted avg       0.64      0.67      0.62       206

0.6747572815533981
[[ 14  55]
 [ 12 125]]

In [16]:
sum(y==2)

682

In [18]:
a.to_csv("filenewdatababyotc.csv")

In [23]:
import h2o
from h2o.automl import H2OAutoML
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.
Warning: Your H2O cluster version is too old (1 year and 1 month)! Please download and install the latest version from http://h2o.ai/download/

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         12 hours 24 mins
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.0.3
H2O_cluster_version_age:    1 year and 1 month !!!
H2O_cluster_name:           H2O_from_python_josep_4kcqsf
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.851 Gb
H2O_cluster_total_cores:    12
H2O_cluster_allowed_cores:  12
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.4 final
--------------------------  ---------------------------------------------------------

In [20]:
a = h2o.import_file("filenewdatababyotc.csv")

train, test = a.split_frame(ratios=[.8])

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [22]:
# Identify predictors and response
x = train.columns
y = 'V2-  AFE -1                   No AFE -2'
x.remove(y)

# For binary classification, response should be a factor
train[y] = train[y].asfactor()
test[y] = test[y].asfactor()

# Run AutoML for 20 base models (limited to 1 hour max runtime by default)
aml = H2OAutoML(max_models=20, seed=1)
aml.train(x=x, y=y, training_frame=train)

# View the AutoML Leaderboard
lb = aml.leaderboard
lb.head(rows=lb.nrows)  # Print all rows instead of default (10 rows)


aml.leader

AutoML progress: |
22:04:38.892: AutoML: XGBoost is not available; skipping it.

████████████████████████████████████████████████████████| 100%
Model Details
=============
H2OGradientBoostingEstimator :  Gradient Boosting Machine
Model Key:  GBM_grid__1_AutoML_20220124_220438_model_4


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,30.0,30.0,12244.0,4.0,13.0,9.3,6.0,46.0,27.8

ModelMetricsBinomial: gbm
** Reported on train data. **

MSE: 0.15211610142910115
RMSE: 0.3900206423115335
LogLoss: 0.47413981021666873
Mean Per-Class Error: 0.19833152294914957
AUC: 0.8792496238673854
AUCPR: 0.9357683486955813
Gini: 0.7584992477347707

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.5776643120993543:

              1      2   Error            Rate
0      1  166.0  103.0  0.3829   (103.0/269.0)
1      2   45.0  506.0  0.0817    (45.0/551.0)
2  Total  211.0  609.0  0.1805   (148.0/820.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold       value    idx
0                        max f1   0.577664    0.872414  268.0
1                        max f2   0.474094    0.926053  326.0
2                  max f0point5   0.651890    0.872576  211.0
3                  max accuracy   0.617765    0.820732  240.0
4                 max precision   0.931370    1.000000    0.0
5                    max recall   0.290434    1.000000  387.0
6               max specificity   0.931370    1.000000    0.0
7              max absolute_mcc   0.622036    0.593010  236.0
8    max min_per_class_accuracy   0.651890    0.800363  211.0
9   max mean_per_class_accuracy   0.651890    0.801668  211.0
10                      max tns   0.931370  269.000000    0.0
11                      max fns   0.931370  550.000000    0.0
12                      max fps   0.199803  269.000000  399.0
13                      max tps   0.290434  551.000000  387.0
14                      max tnr   0.931370    1.000000    0.0
15                      max fnr   0.931370    0.998185    0.0
16                      max fpr   0.199803    1.000000  399.0
17                      max tpr   0.290434    1.000000  387.0

Gains/Lift Table: Avg response rate: 67.20 %, avg score: 67.18 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010976,0.911766,1.488203,1.488203,1.000000,0.918556,1.000000,0.918556,0.016334,0.016334,48.820327,48.820327,0.016334
1,2,0.020732,0.903141,1.488203,1.488203,1.000000,0.907437,1.000000,0.913324,0.014519,0.030853,48.820327,48.820327,0.030853
2,3,0.030488,0.891951,1.488203,1.488203,1.000000,0.898055,1.000000,0.908438,0.014519,0.045372,48.820327,48.820327,0.045372
3,4,0.040244,0.885289,1.488203,1.488203,1.000000,0.888216,1.000000,0.903536,0.014519,0.059891,48.820327,48.820327,0.059891
4,5,0.051220,0.877392,1.488203,1.488203,1.000000,0.881538,1.000000,0.898822,0.016334,0.076225,48.820327,48.820327,0.076225
5,6,0.101220,0.850754,1.488203,1.488203,1.000000,0.864696,1.000000,0.881964,0.074410,0.150635,48.820327,48.820327,0.150635
6,7,0.151220,0.833419,1.488203,1.488203,1.000000,0.843560,1.000000,0.869266,0.074410,0.225045,48.820327,48.820327,0.225045
7,8,0.201220,0.813717,1.415608,1.470164,0.951220,0.822065,0.987879,0.857537,0.070780,0.295826,41.560799,47.016444,0.288391
8,9,0.301220,0.776289,1.324864,1.421927,0.890244,0.793706,0.955466,0.836346,0.132486,0.428312,32.486388,42.192701,0.387420
9,10,0.401220,0.738908,1.361162,1.406782,0.914634,0.759736,0.945289,0.817252,0.136116,0.564428,36.116152,40.678181,0.497514
10,11,0.501220,0.697161,1.252269,1.375954,0.841463,0.718111,0.924574,0.797472,0.125227,0.689655,25.226860,37.595436,0.574414
11,12,0.601220,0.652013,1.088929,1.328214,0.731707,0.676626,0.892495,0.777372,0.108893,0.798548,8.892922,32.821387,0.601522
12,13,0.701220,0.602760,0.852995,1.260443,0.573171,0.628760,0.846957,0.756179,0.085299,0.883848,-14.700544,26.044346,0.556710
13,14,0.801220,0.541851,0.598911,1.177878,0.402439,0.572084,0.791476,0.733202,0.059891,0.943739,-40.108893,17.787778,0.434445
14,15,0.901220,0.446703,0.435572,1.095511,0.292683,0.492922,0.736130,0.706540,0.043557,0.987296,-56.442831,9.551093,0.262389
15,16,1.000000,0.000000,0.128610,1.000000,0.086420,0.355190,0.671951,0.671834,0.012704,1.000000,-87.138984,0.000000,0.000000

ModelMetricsBinomial: gbm
** Reported on cross-validation data. **

MSE: 0.20784702986494452
RMSE: 0.4559024345898413
LogLoss: 0.6039685538486791
Mean Per-Class Error: 0.388320660644047
AUC: 0.6485605759045736
AUCPR: 0.7798530974351232
Gini: 0.2971211518091472

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.4079816168632131:

             1      2   Error            Rate
0      1  29.0  240.0  0.8922   (240.0/269.0)
1      2  15.0  536.0  0.0272    (15.0/551.0)
2  Total  44.0  776.0   0.311   (255.0/820.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold       value    idx
0                        max f1   0.407982    0.807837  365.0
1                        max f2   0.248182    0.911346  398.0
2                  max f0point5   0.553802    0.748353  293.0
3                  max accuracy   0.437039    0.690244  351.0
4                 max precision   0.924323    1.000000    0.0
5                    max recall   0.248182    1.000000  398.0
6               max specificity   0.924323    1.000000    0.0
7              max absolute_mcc   0.553802    0.223528  293.0
8    max min_per_class_accuracy   0.677782    0.605948  197.0
9   max mean_per_class_accuracy   0.679442    0.611679  195.0
10                      max tns   0.924323  269.000000    0.0
11                      max fns   0.924323  549.000000    0.0
12                      max fps   0.227168  269.000000  399.0
13                      max tps   0.248182  551.000000  398.0
14                      max tnr   0.924323    1.000000    0.0
15                      max fnr   0.924323    0.996370    0.0
16                      max fpr   0.227168    1.000000  399.0
17                      max tpr   0.248182    1.000000  398.0

Gains/Lift Table: Avg response rate: 67.20 %, avg score: 67.32 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010976,0.910209,1.322847,1.322847,0.888889,0.915709,0.888889,0.915709,0.014519,0.014519,32.284735,32.284735,0.010802
1,2,0.020732,0.898311,1.488203,1.400662,1.000000,0.903162,0.941176,0.909805,0.014519,0.029038,48.820327,40.066190,0.025321
2,3,0.030488,0.887395,1.116152,1.309619,0.750000,0.892641,0.880000,0.904312,0.010889,0.039927,11.615245,30.961887,0.028775
3,4,0.040244,0.880120,1.116152,1.262718,0.750000,0.884572,0.848485,0.899527,0.010889,0.050817,11.615245,26.271792,0.032229
4,5,0.051220,0.870088,1.157491,1.240169,0.777778,0.875295,0.833333,0.894334,0.012704,0.063521,15.749143,24.016939,0.037499
5,6,0.101220,0.850459,1.306715,1.273041,0.878049,0.860383,0.855422,0.877563,0.065336,0.128857,30.671506,27.304135,0.084247
6,7,0.151220,0.827656,1.161525,1.236169,0.780488,0.838995,0.830645,0.864811,0.058076,0.186933,16.152450,23.616884,0.108866
7,8,0.201220,0.805710,1.306715,1.253699,0.878049,0.815181,0.842424,0.852479,0.065336,0.252269,30.671506,25.369851,0.155614
8,9,0.301220,0.770789,1.088929,1.198998,0.731707,0.788159,0.805668,0.831125,0.108893,0.361162,8.892922,19.899777,0.182723
9,10,0.401220,0.726676,1.034483,1.157994,0.695122,0.749017,0.778116,0.810661,0.103448,0.464610,3.448276,15.799403,0.193234
10,11,0.500000,0.689403,1.010508,1.128857,0.679012,0.707563,0.758537,0.790293,0.099819,0.564428,1.050839,12.885662,0.196399
11,12,0.600000,0.648692,0.980036,1.104053,0.658537,0.670153,0.741870,0.770269,0.098004,0.662432,-1.996370,10.405324,0.190313
12,13,0.700000,0.607838,0.961887,1.083744,0.646341,0.628608,0.728223,0.750032,0.096189,0.758621,-3.811252,8.374384,0.178695
13,14,0.800000,0.554005,1.016334,1.075318,0.682927,0.581720,0.722561,0.728993,0.101633,0.860254,1.633394,7.531760,0.183674
14,15,0.900000,0.457743,0.725953,1.036499,0.487805,0.512578,0.696477,0.704947,0.072595,0.932849,-27.404719,3.649929,0.100136
15,16,1.000000,0.227168,0.671506,1.000000,0.451220,0.387503,0.671951,0.673203,0.067151,1.000000,-32.849365,0.000000,0.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.69756097,0.025725638,0.70731705,0.6768293,0.7256098,0.66463417,0.7134146
1,auc,0.65018165,0.037984997,0.6787431,0.69358975,0.5963522,0.6389572,0.643266
2,aucpr,0.78464323,0.025559288,0.7998983,0.8159864,0.78669345,0.75006086,0.7705772
3,err,0.30243903,0.025725638,0.29268292,0.32317072,0.27439025,0.33536586,0.28658536
4,err_count,49.6,4.2190046,48.0,53.0,45.0,55.0,47.0
5,f0point5,0.73711556,0.025957098,0.74862635,0.71132594,0.7677165,0.7086093,0.7492997
6,f1,0.81381756,0.018468091,0.81954885,0.7953668,0.83870965,0.795539,0.8199234
7,f2,0.90868753,0.008835958,0.90531564,0.90192646,0.9241706,0.90677965,0.90524536
8,lift_top_group,1.3445032,0.3492547,0.73214287,1.5769231,1.3898305,1.5327103,1.4909091
9,logloss,0.60396856,0.014481593,0.5862679,0.6037132,0.5975681,0.62583965,0.6064539
10,max_per_class_error,0.89366,0.06475567,0.86538464,0.8666667,0.95652175,0.9649123,0.8148148
11,mcc,0.20312554,0.068080835,0.20969525,0.26166034,0.11734379,0.1522341,0.27469417
12,mean_per_class_accuracy,0.5459551,0.027487049,0.55391484,0.56185895,0.51750183,0.51754385,0.57895625
13,mean_per_class_error,0.45404485,0.027487049,0.44608516,0.43814102,0.48249817,0.48245615,0.42104378
14,mse,0.20784703,0.0061811535,0.19996168,0.20946656,0.2049373,0.2167628,0.20810683
15,pr_auc,0.78464323,0.025559288,0.7998983,0.8159864,0.78669345,0.75006086,0.7705772
16,precision,0.6936239,0.029430974,0.7077922,0.66451615,0.72670805,0.66049385,0.7086093
17,r2,0.052004494,0.042686604,0.07655061,0.09714543,-0.01547411,0.044097032,0.05770351
18,recall,0.9855703,0.012087926,0.97321427,0.99038464,0.9915254,1.0,0.9727273
19,rmse,0.45586222,0.006769943,0.44717073,0.45767516,0.45270002,0.46557793,0.45618728

See the whole table with table.as_data_frame()

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_auc,training_pr_auc,training_lift,training_classification_error
0,,2022-01-24 22:04:50,1.168 sec,0.0,0.469503,0.632788,0.500000,0.671951,1.000000,0.328049
1,,2022-01-24 22:04:50,1.180 sec,5.0,0.449592,0.591845,0.772310,0.869209,1.488203,0.268293
2,,2022-01-24 22:04:50,1.192 sec,10.0,0.428004,0.548538,0.825029,0.902483,1.488203,0.226829
3,,2022-01-24 22:04:50,1.200 sec,15.0,0.424323,0.541149,0.816306,0.897343,1.488203,0.229268
4,,2022-01-24 22:04:50,1.214 sec,20.0,0.408230,0.509616,0.850788,0.917718,1.488203,0.200000
5,,2022-01-24 22:04:50,1.230 sec,25.0,0.398015,0.490003,0.869312,0.928760,1.488203,0.185366
6,,2022-01-24 22:04:50,1.245 sec,30.0,0.390021,0.474140,0.879250,0.935768,1.488203,0.180488

Variable Importances:

,variable,relative_importance,scaled_importance,percentage
0,C1,193.972977,1.000000,0.621937
1,"V2 - PHT TRPG>40,RVSP>45 1-YES ...",17.827549,0.091907,0.057161
2,V4- Age 1-18-24 yr 2- 25...,14.158564,0.072992,0.045397
3,V2 - PROSTHETIC VALVE 1-YES ...,13.336250,0.068753,0.042760
4,V2 -PRIMI 1-YES 2- NO,11.326597,0.058393,0.036317
5,V2- MVOA ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â°Ãƒâ€šÃ‚Â¤ 1.5 1-YES ...,9.618866,0.049589,0.030841
6,"V2- mWHO >II- 1 I,II 2",8.565146,0.044156,0.027463
7,V2 - Time of diag 1- DURING PRESENT PREG ...,8.552720,0.044092,0.027423
8,"V2 -NYHA CLASS III, IV- 1 I, II- 2",8.050931,0.041505,0.025814
9,V2- ACQ-1 CONG-2,7.569145,0.039022,0.024269
10,V2 -NULLIPARA 1-YES ...,6.934227,0.035748,0.022233
11,V2 - ISOLATED LVOTO SEVERITY 1- YES ...,2.524106,0.013013,0.008093
12,2V -ISOLATED VALVULAR AR/MR,2.517824,0.012980,0.008073
13,V2- LVEF ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â°Ãƒâ€šÃ‚Â¤45 1-YES ...,2.467586,0.012721,0.007912
14,V2 - LVEF <55 1-YES 2-NO,1.829807,0.009433,0.005867
15,V2 -SIGNIFICANT LVOTO/RVOTO 1-YES ...,1.619214,0.008348,0.005192
16,V2- ISOLATED SIGNIFICANT AS 1-YES ...,1.013541,0.005225,0.003250

In [ ]:
x[17]

In [26]:
a = h2o.import_file("filenewdatababyotc.csv")
x = train.columns
y = 'V2-  AFE -1                   No AFE -2'
x.remove(y)
a[y] = a[y].asfactor()
level1,test1,level2,test2,final = a.split_frame([0.4,0.1,0.05,0.25],seed=1234)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [27]:
from h2o.estimators.stackedensemble import H2OStackedEnsembleEstimator
from h2o.estimators.gbm import H2OGradientBoostingEstimator
from h2o.estimators.random_forest import H2ORandomForestEstimator
from h2o.estimators.deeplearning import H2ODeepLearningEstimator
from h2o.estimators.xgboost import H2OXGBoostEstimator
from h2o.estimators.naive_bayes import H2ONaiveBayesEstimator
nfolds=3

In [28]:
from collections import OrderedDict
models = OrderedDict([
                        ('GBM', H2OGradientBoostingEstimator(model_id="GBM",nfolds=nfolds, fold_assignment="Modulo",\
                                    keep_cross_validation_predictions=True,\
                                    ntrees=1000,max_depth=5,learn_rate=0.2)),
                        ('RF', H2ORandomForestEstimator(model_id="RF",nfolds=nfolds, fold_assignment="Modulo",\
                                    keep_cross_validation_predictions=True,\
                                    ntrees=100,mtries=7,max_depth=30)),
                        ('DL', H2ODeepLearningEstimator(model_id="DL",nfolds=nfolds, fold_assignment="Modulo",\
                                    keep_cross_validation_predictions=True)),\
                        #('XGB', H2OXGBoostEstimator(model_id="XGB",nfolds=nfolds, fold_assignment="Modulo",\
                        #            keep_cross_validation_predictions=True)),\
                        ('NB', H2ONaiveBayesEstimator(model_id="NB",nfolds=nfolds, fold_assignment="Modulo",\
                                    keep_cross_validation_predictions=True))
                    ])

In [29]:
# Training each model in the dictionary
for model in models.values():
    model.train(x=x,y=y,training_frame=level1, validation_frame=test1)

# Stacked Ensemble Model
stack = H2OStackedEnsembleEstimator(model_id="my_ensemble", base_models=list(models.keys()))
# Stacked Model Traning
stack.train(x=x,y=y,training_frame=level1,validation_frame=test1)

#Calculating accuracy of each model
models_acc = []
for model in models.values():
    models_acc.append(model.accuracy(valid=True)[0][1])

Ensemble_acc=stack.accuracy(valid=True)[0][1]

print(models_acc,Ensemble_acc)

gbm Model Build progress: |███████████████████████████████████████████████| 100%
drf Model Build progress: |███████████████████████████████████████████████| 100%
deeplearning Model Build progress: |██████████████████████████████████████| 100%
naivebayes Model Build progress: |████████████████████████████████████████| 100%
stackedensemble Model Build progress: |███████████████████████████████████| 100%
[0.7589285714285714, 0.75, 0.7321428571428571, 0.7589285714285714] 0.7767857142857143

In [30]:
ll=level2[y].as_data_frame()

In [31]:
pd.get_dummies(ll, columns=[y])

,V2- AFE -1 No AFE -2_1,V2- AFE -1 No AFE -2_2
0,0,1
1,0,1
2,0,1
3,0,1
4,1,0
5,0,1
6,0,1
7,0,1
8,0,1
9,0,1
10,1,0
11,0,1
12,1,0
13,0,1
14,0,1
15,0,1
16,0,1
17,1,0
18,0,1
19,0,1
20,1,0
21,0,1
22,0,1
23,0,1
24,1,0
25,0,1
26,0,1
27,0,1
28,1,0
29,1,0
30,0,1
31,0,1
32,0,1
33,0,1
34,0,1
35,0,1
36,0,1
37,0,1
38,0,1
39,1,0
40,1,0
41,0,1
42,0,1
43,1,0
44,0,1
45,0,1

In [32]:
#block is added by Joel Rajakumar to train the model selector
import pandas as pd
import numpy as np
def score(targets,predictions):
    #Cross Entropy
    return -np.sum(targets*np.log(predictions).values, axis=1)

level2scores = pd.DataFrame()
test2scores = pd.DataFrame()

#One-hot encoded truth values
level2truths = pd.get_dummies(level2[y].as_data_frame(), columns=[y])
test2truths = pd.get_dummies(test2[y].as_data_frame(), columns=[y])

for model in models.values():
    #Get predictions
    level2predictions = model.predict(level2).drop('predict').as_data_frame()
    test2predictions = model.predict(test2).drop('predict').as_data_frame()
    
    #Get scores
    level2scores = pd.concat([level2scores, score(level2truths,level2predictions)], axis=1)
    test2scores = pd.concat([test2scores, score(test2truths,test2predictions)], axis=1)

#Find the winner (1st place)
level2winners = np.argmin(level2scores.values, axis=1)
test2winners = np.argmin(test2scores.values, axis=1)

level2['winners'] = h2o.H2OFrame([list(models.keys())[x] for x in level2winners])
test2['winners'] = h2o.H2OFrame([list(models.keys())[x] for x in test2winners])

gbm prediction progress: |████████████████████████████████████████████████| 100%
gbm prediction progress: |████████████████████████████████████████████████| 100%
drf prediction progress: |████████████████████████████████████████████████| 100%
drf prediction progress: |████████████████████████████████████████████████| 100%

C:\Users\josep\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: RuntimeWarning: divide by zero encountered in log

deeplearning prediction progress: |███████████████████████████████████████| 100%
deeplearning prediction progress: |███████████████████████████████████████| 100%
naivebayes prediction progress: |█████████████████████████████████████████| 100%
naivebayes prediction progress: |█████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [33]:
#Training Model Selector
response='winners'
predictors=level2.columns
predictors.remove(y)
predictors.remove(response)

modelselector=H2OGradientBoostingEstimator(model_id="modelselector",nfolds=nfolds, fold_assignment="Modulo",\
                                    keep_cross_validation_predictions=True,\
                                   ntrees=1000,max_depth=5,learn_rate=0.2)

modelselector.train(x=predictors,y=response,training_frame=level2, validation_frame=test2)

gbm Model Build progress: |█████████████████████████████████████████████████████████| 100%

In [34]:
def predict(data):
    #apply model selector
    data['winner'] = modelselector.predict(data)['predict']
    all_data = []
    for name, model in models.items():
        #Slice data out for each model
        model_data = data[data['winner']==name]
        
        #Apply each model to respective slice
        model_data = model_data.cbind(model.predict(model_data))
        all_data.append(model_data)
        
    #concatenate it all
    stuff = model_data[model_data['C1']==-1]
    stuff = stuff.concat(all_data,axis=0)
    
    #merge it with the original data
    data = stuff.merge(data) #This step should redundant and can be deleted
    return stuff

In [35]:
results = predict(final)

gbm prediction progress: |████████████████████████████████████████████████| 100%
gbm prediction progress: |████████████████████████████████████████████████| 100%
drf prediction progress: |████████████████████████████████████████████████| 100%
deeplearning prediction progress: |███████████████████████████████████████| 100%
naivebayes prediction progress: |█████████████████████████████████████████| 100%

In [36]:
#Accuracy
b = results[y] == results['predict']
print("Accuracy with dynamic model selection: {0:.3f}%\n".format(b.sum()/b.shape[0]*100))
print("Accuracy with static model selection : {0:.3f}%\n".format(Ensemble_acc*100))

Accuracy with dynamic model selection: 63.768%

Accuracy with static model selection : 77.679%